* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #b25068;
}

section {
  background-color: #4c3a51;
  color: white;
  font-size: 1.1rem;
  margin: 2rem;
  padding: 2rem;
  /* border: 2px dashed black; */
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dynamic {
  color: #e7ab79;
}
